# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
test_reports/
scripts/
frontend/node_modules/.cache/default-development/6.pack_
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/1.pack
